@model Entities.Unidad

@{
    Layout = "~/Views/Shared/_baseLayout.cshtml";
}

@{
    ViewBag.Title = "Crear Unidad";
}

<!DOCTYPE html>

<html>
<head>
    <title>CrearUnidad</title>
</head>
<body>
    <h2>Crear Unidad</h2>

    <form action="/Unidad/CrearUnidad" method="Post">
        Consorcio
        <br />
        <input type="number" name="IdConsorcio" />
        <br />
        Nombre
        <br />
        <input type="text" name="Nombre" />
        <br />
        Nombre Propietario
        <br />
        <input type="text" name="NombrePropietario" />
        <br />
        Apellido Propietario
        <br />
        <input type="text" name="ApellidoPropietario" />
        <br />
        Email Propietario
        <br />
        <input type="text" name="EmailPropietario" />
        <br />
        Superficie(m2)
        <br />
        <input type="number" name="Superficie" />
        <br />
        <br />
        <input type="submit" value="Guardar" />
    </form>

</body>
</html>
