
@{
    ViewBag.Title = "SubidaExitosa";
}



<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-1">

    <h2>SubidaExitosa</h2>

    <a href="~/Views/Consorcio/Listado.cshtml" class="btn btn-success">Volver</a>

</div>



