
USE [master]
GO
/****** Object:  Database [PW3_TP_20202C]    Script Date: 9/29/2020 10:34:09 PM ******/

CREATE DATABASE [PW3_TP_20202C]

GO
USE [PW3_TP_20202C]
GO
/****** Object:  Table [dbo].[Consorcio]    Script Date: 9/29/2020 10:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consorcio](
	[IdConsorcio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[Ciudad] [nvarchar](200) NOT NULL,
	[Calle] [nvarchar](200) NOT NULL,
	[Altura] [int] NOT NULL,
	[DiaVencimientoExpensas] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[IdUsuarioCreador] [int] NULL,
 CONSTRAINT [PK_Consorcio] PRIMARY KEY CLUSTERED 
(
	[IdConsorcio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gasto]    Script Date: 9/29/2020 10:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gasto](
	[IdGasto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[IdConsorcio] [int] NOT NULL,
	[IdTipoGasto] [int] NOT NULL,
	[FechaGasto] [datetime] NOT NULL,
	[AnioExpensa] [int] NOT NULL,
	[MesExpensa] [int] NOT NULL,
	[ArchivoComprobante] [nvarchar](500) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[IdUsuarioCreador] [int] NOT NULL,
 CONSTRAINT [PK_Gasto] PRIMARY KEY CLUSTERED 
(
	[IdGasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 9/29/2020 10:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[IdProvincia] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoGasto]    Script Date: 9/29/2020 10:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoGasto](
	[IdTipoGasto] [int] NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TipoGasto] PRIMARY KEY CLUSTERED 
(
	[IdTipoGasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Unidad]    Script Date: 9/29/2020 10:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unidad](
	[IdUnidad] [int] IDENTITY(1,1) NOT NULL,
	[IdConsorcio] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[NombrePropietario] [nvarchar](200) NULL,
	[ApellidoPropietario] [nvarchar](200) NULL,
	[EmailPropietario] [nvarchar](500) NULL,
	[Superficie] [int] NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[IdUsuarioCreador] [int] NOT NULL,
 CONSTRAINT [PK_Unidad] PRIMARY KEY CLUSTERED 
(
	[IdUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/29/2020 10:34:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[Usuario]    Script Date: 9/29/2020 11:51:02 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](300) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FechaRegistracion] [datetime] NOT NULL,
	[FechaUltLogin] [datetime] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_FechaRegistracion]  DEFAULT (getdate()) FOR [FechaRegistracion]
GO


GO
ALTER TABLE [dbo].[Consorcio] ADD  CONSTRAINT [DF_Consorcio_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Gasto] ADD  CONSTRAINT [DF_Gasto_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Unidad] ADD  CONSTRAINT [DF_Unidad_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Consorcio]  WITH CHECK ADD  CONSTRAINT [FK_Consorcio_Consorcio] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([IdProvincia])
GO
ALTER TABLE [dbo].[Consorcio] CHECK CONSTRAINT [FK_Consorcio_Consorcio]
GO
ALTER TABLE [dbo].[Consorcio]  WITH CHECK ADD  CONSTRAINT [FK_Consorcio_Usuario] FOREIGN KEY([IdUsuarioCreador])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Consorcio] CHECK CONSTRAINT [FK_Consorcio_Usuario]
GO
ALTER TABLE [dbo].[Gasto]  WITH CHECK ADD  CONSTRAINT [FK_Gasto_Consorcio] FOREIGN KEY([IdConsorcio])
REFERENCES [dbo].[Consorcio] ([IdConsorcio])
GO
ALTER TABLE [dbo].[Gasto] CHECK CONSTRAINT [FK_Gasto_Consorcio]
GO
ALTER TABLE [dbo].[Gasto]  WITH CHECK ADD  CONSTRAINT [FK_Gasto_TipoGasto] FOREIGN KEY([IdTipoGasto])
REFERENCES [dbo].[TipoGasto] ([IdTipoGasto])
GO
ALTER TABLE [dbo].[Gasto] CHECK CONSTRAINT [FK_Gasto_TipoGasto]
GO
ALTER TABLE [dbo].[Gasto]  WITH CHECK ADD  CONSTRAINT [FK_Gasto_Usuario] FOREIGN KEY([IdUsuarioCreador])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Gasto] CHECK CONSTRAINT [FK_Gasto_Usuario]
GO
ALTER TABLE [dbo].[Unidad]  WITH CHECK ADD  CONSTRAINT [FK_Unidad_Consorcio] FOREIGN KEY([IdConsorcio])
REFERENCES [dbo].[Consorcio] ([IdConsorcio])
GO
ALTER TABLE [dbo].[Unidad] CHECK CONSTRAINT [FK_Unidad_Consorcio]
GO
ALTER TABLE [dbo].[Unidad]  WITH CHECK ADD  CONSTRAINT [FK_Unidad_Usuario] FOREIGN KEY([IdUsuarioCreador])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Unidad] CHECK CONSTRAINT [FK_Unidad_Usuario]
GO


--DATOS--
SET IDENTITY_INSERT [dbo].[Usuario] ON 

GO
INSERT [dbo].[Usuario] ([IdUsuario], [Email], [Password], [FechaRegistracion], [FechaUltLogin]) VALUES (1, N'pnsanchez@unlam.edu.ar', N'Test1234!', convert(datetime,'2020-09-29 22:45:36.567', 20), convert(datetime,'2020-09-29 22:05:36.567', 20))
GO
INSERT [dbo].[Usuario] ([IdUsuario], [Email], [Password], [FechaRegistracion], [FechaUltLogin]) VALUES (2, N'mpaz@unlam.edu.ar', N'Test1234!',  convert(datetime,'2020-09-29 22:45:36.567', 20), convert(datetime,'2020-09-29 22:55:36.567', 20))
GO
INSERT [dbo].[Usuario] ([IdUsuario], [Email], [Password], [FechaRegistracion], [FechaUltLogin]) VALUES (3, N'mjuiz@unlam.edu.ar', N'Test1234!',  convert(datetime,'2020-09-29 22:45:36.567', 20), NULL)
GO
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[Provincia] ([IdProvincia], [Nombre]) VALUES (1, N'Buenos Aires')
GO
INSERT [dbo].[Provincia] ([IdProvincia], [Nombre]) VALUES (2, N'CABA')
GO
INSERT [dbo].[Provincia] ([IdProvincia], [Nombre]) VALUES (3, N'Catamarca')
GO
SET IDENTITY_INSERT [dbo].[Consorcio] ON 

GO
INSERT [dbo].[Consorcio] ([IdConsorcio], [Nombre], [IdProvincia], [Ciudad], [Calle], [Altura], [DiaVencimientoExpensas], [FechaCreacion], [IdUsuarioCreador]) VALUES (1, N'Edificio Godoy Cruz', 2, N'CABA', N'Godoy Cruz', 2369, 6,  convert(datetime,'2020-09-29 22:50:00.837', 20), 1)
GO
INSERT [dbo].[Consorcio] ([IdConsorcio], [Nombre], [IdProvincia], [Ciudad], [Calle], [Altura], [DiaVencimientoExpensas], [FechaCreacion], [IdUsuarioCreador]) VALUES (2, N'Edificio Arieta', 1, N'San Justo', N'Arieta', 2748, 12,  convert(datetime,'2020-09-29 22:50:48.663', 20), 1)
GO
INSERT [dbo].[Consorcio] ([IdConsorcio], [Nombre], [IdProvincia], [Ciudad], [Calle], [Altura], [DiaVencimientoExpensas], [FechaCreacion], [IdUsuarioCreador]) VALUES (3, N'Edificio Alberdi', 2, N'CABA', N'Alberdi', 2387, 1,  convert(datetime,'2020-09-29 22:51:37.607', 20), 1)
GO
SET IDENTITY_INSERT [dbo].[Consorcio] OFF
GO
SET IDENTITY_INSERT [dbo].[Unidad] ON 

GO
INSERT [dbo].[Unidad] ([IdUnidad], [IdConsorcio], [Nombre], [NombrePropietario], [ApellidoPropietario], [EmailPropietario], [Superficie], [FechaCreacion], [IdUsuarioCreador]) VALUES (1, 1, N'1A', N'Pepe', N'Argento', N'pepeargento@test.com', NULL,  convert(datetime,'2020-09-29 23:36:43.727', 20), 1)
GO
INSERT [dbo].[Unidad] ([IdUnidad], [IdConsorcio], [Nombre], [NombrePropietario], [ApellidoPropietario], [EmailPropietario], [Superficie], [FechaCreacion], [IdUsuarioCreador]) VALUES (2, 1, N'1B', N'Dardo', N'Fuseneco', N'dardo@test.com', NULL,  convert(datetime,'2020-09-29 23:37:11.970', 20), 1)
GO
INSERT [dbo].[Unidad] ([IdUnidad], [IdConsorcio], [Nombre], [NombrePropietario], [ApellidoPropietario], [EmailPropietario], [Superficie], [FechaCreacion], [IdUsuarioCreador]) VALUES (4, 1, N'1C', N'Fatiga', N'Argento', N'fatiga@test.com', NULL,  convert(datetime,'2020-09-29 23:37:40.170', 20), 1)
GO
SET IDENTITY_INSERT [dbo].[Unidad] OFF
GO
INSERT [dbo].[TipoGasto] ([IdTipoGasto], [Nombre]) VALUES (1, N'Sueldos')
GO
INSERT [dbo].[TipoGasto] ([IdTipoGasto], [Nombre]) VALUES (2, N'Servicios')
GO
INSERT [dbo].[TipoGasto] ([IdTipoGasto], [Nombre]) VALUES (3, N'Cargas Sociales')
GO
SET IDENTITY_INSERT [dbo].[Gasto] ON 

GO
INSERT [dbo].[Gasto] ([IdGasto], [Nombre], [Descripcion], [IdConsorcio], [IdTipoGasto], [FechaGasto], [AnioExpensa], [MesExpensa], [ArchivoComprobante], [Monto], [FechaCreacion], [IdUsuarioCreador]) VALUES (1, N'Fumigacion de Unidades', N'Se fumigaron todas las unidades excepto la unidad 10 y 12', 1, 5,  convert(datetime,'2020-08-12 00:00:00.000', 20), 2020, 8, N'/Gastos/fumigacion-20200812.pdf', CAST(25000.00 AS Decimal(18, 2)),  convert(datetime,'2020-08-13 00:00:00.000', 20), 1)
GO
INSERT [dbo].[Gasto] ([IdGasto], [Nombre], [Descripcion], [IdConsorcio], [IdTipoGasto], [FechaGasto], [AnioExpensa], [MesExpensa], [ArchivoComprobante], [Monto], [FechaCreacion], [IdUsuarioCreador]) VALUES (2, N'Restauracion SUM', NULL, 1, 5,  convert(datetime,'2020-08-22 00:00:00.000', 20), 2020, 8, N'/Gastos/Sum08.pdf', CAST(125000.00 AS Decimal(18, 2)),  convert(datetime,'2020-08-23 00:00:00.000', 20), 1)
GO
SET IDENTITY_INSERT [dbo].[Gasto] OFF
GO

