@{
    ViewBag.Title = "Error";
}

<div class="jumbotron my-5">
    <h1 class="display-4">@ViewBag.Title</h1>

    <p class="lead my-4">@ViewBag.Description</p>

    <a href="/Home/Incio" class="btn btn-primary btn-lg  mb-4">Ir a inicio</a>
</div>
