
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_baseLayout.cshtml";
}

<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/Home/Home">
        <img src="~/Views/images/department.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Inicio
    </a>
</nav>

<div class="container text-center">

    <h1>Admin de consorcios</h1>
    <a href="#">Ingresar</a>
    <a href="#">Registrarse</a>
</div>
