
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_baseLayout.cshtml";
}


<div class="container text-center">
    <h1 class="mt-3">Sistema para la Administracion de Consorcios</h1> 
        <button type="button" class="btn btn-outline-black btn-rounded waves-effect">Ingresar</button>
        <button type="button" class="btn btn-outline-black btn-rounded waves-effect">Registrarse</button>
</div>
