
@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_baseLayout.cshtml";
}


<div class="container d-flex justify-content-center mt-3">
    <div class="card">
        <h5 class="card-header unique-color-dark white-text text-center py-4">
            <strong>Ingresar</strong>
        </h5>
        <!-- Card body -->
        <div class="card-body">

            <form class="form-group">
                <div class="md-form">
                    <i class="fas fa-envelope prefix"></i>
                    <input type="email" id="inputValidationEx" class="form-control validate">
                    <label for="inputValidationEx" data-error="wrong" data-success="right">Ingrese su Email</label>
                </div>
                <div class="md-form">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" id="inputValidationEx2" class="form-control validate">
                    <label for="inputValidationEx2" data-error="wrong" data-success="right">Ingrese su contraseña</label>
                </div>
                <div class="container text-center">
                    <button type="submit" class="btn unique-color-dark text-white">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
