@using Entities;

@{
    List<Breadcrump> ListaBreadcrumps = (List<Breadcrump>)ViewBag.Breadcrumps;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @for (int i = 0; i < ListaBreadcrumps.Count; i++)
            {
                if (i < ListaBreadcrumps.Count - 1)
                {
                    <a href="/@ListaBreadcrumps[i].Link">

                        @ListaBreadcrumps[i].Nombre.ToString()
                    </a>
                    <span class="mx-1">/</span>
                }
                else
                {
                    <span class="mx-1">@ListaBreadcrumps[i].Nombre.ToString()</span>
                }
            }
        </li>
    </ol>
</nav>
