
@{
    ViewBag.Title = "pv_footer";
}

<footer class="page-footer font-small unique-color mt-3">

    <div class="container">

        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Agustin Faginas</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!"> David Castillo</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Luciano Fiamingo</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Lucas Benitez</a>
                </h6>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        PW3-2020-2c-Grupo X
    </div>
</footer>

